/* Responsive for Mobile Decive*/

@media screen and (max-width:576px) {
    header{
        box-shadow: none;
    }
    .nav-container {
     flex-direction: column;
     padding:40px 0px;
     align-items: center;
    }
    .menu-item {
        flex-direction: column;
        align-items: center;
    }
    .menu-item a{ 
        margin-top: 25px;

    }
    .banner-container {
        flex-direction: column-reverse;
    }
    .section-images{
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }
}

/*Responsive for Tablet device*/
@media screen and(max-width:768px) {
    .logo-image{
        padding-left: 10px;
    }
    .logo-title {
        font-size: 2rem;
    }
    
}