/* Responsive for Mobile Decive*/

@media screen and (max-width:576px) {
    header{
        box-shadow: none;
    }
    .nav-container {
     flex-direction: column;
     padding:40px 0px;
     align-items: center;
    }
    .menu-item {
        flex-direction: column;
        align-items: center;
    }
    .menu-item a{ 
        margin-top: 25px;

    }
    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .section-images{
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }
    .images-description{
        margin-top: 5px;
        padding-left: 5px;
    }

    .play-games-container{
        flex-direction: column-reverse;
    }
    .play-games-section-content {
        text-align: center;
        margin:0 10px;
    }
    .play-games-section-description{
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;

    }
    
    .games-buttons{
        gap:10px;
        
    }
    .games-btn{
        width:150px;
    }
    .games-button-content{
        margin-left: 5px;
    }
    .footer-menubar{
        grid-template-columns: repeat(3,1fr);
        gap:20px;
    }
    .footer-menubar-two{
        grid-template-columns: repeat(2,1fr);
        gap:20px;
    }


}

/*Responsive for Tablet device*/
@media screen and(max-width:768px) {
    .logo-image{
        padding-left: 10px;
    }
    .logo-title {
        font-size: 2rem;
    }
    
}