/* Responsive for Mobile Decive*/

@media screen and (max-width:576px) {
    header {
        box-shadow: none;
    }

    .nav-container {
        flex-direction: column;
        padding: 40px 0px;
        align-items: center;
    }

    .menu-item {
        flex-direction: column;
        align-items: center;
    }

    .menu-item a {
        margin-top: 25px;

    }

    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-content {
        padding: 40px 60px;
        width: 80%;
    }
    .banner-images img {
        width: 50%;
        padding-left: 200px;
        align-items: center;
    }

    .section-images {
        flex-wrap: wrap;

    }

    .images-description {
        margin-top: 5px;
        padding-left: 5px;
    }

    .play-games-container {
        flex-wrap: wrap-reverse;
    }

    .play-games-section-content {
        text-align: center;
        margin: 0 10px;
        align-items: center;
        width:100%;
    }

    .play-games-section-description {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;

    }
    .play-games-container{
        max-width: 400px;

    }

    .games-buttons {
        gap: 15px;

    }

    .games-btn {
        width: 100px;
        background-color: transparent;
    }

    .button-images {
        width: 30px;
        height: 30px;

    }
    

    .games-button-content {
        font-size: 0.8rem;
        margin-left: 5px;
    }

    .footer-menubar {
        grid-template-columns:repeat(3, 1fr);
        gap: 15px;
    }

    .footer-menubar-two {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }


}

/*Responsive for Tablet device*/
@media screen and (min-width:577px)and(max-width:768px) {

    .logo-title {
        font-size: 2rem;
    }

    .menu-item {
        font-size: 1.1rem;
    }

    .banner-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-content h2 {
        font-size: 2rem;
    
    }
    
    .banner-content h1 {
        
        font-size: 2.5rem;
    
    }
    
    .banner-content p {
        font-size: 1rem;
    }
    .button-primary {
        padding: 15px 30px;
    }
    
    .button-secondary {
        padding: 15px 30px;
    }

    .section-images {
        flex-wrap: wrap;

    }
    .play-games-container {
        flex-wrap: wrap-reverse;
    }
}