@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*Nav bar style*/
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px 0px;

}

.logo-item {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo-image {
    width: 60px;
    margin-right: 10px;
}

.logo-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.logo-title-text {
    color: #ff42a5;
}

.menu-item {
    display: flex;
    align-items: center;
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 32px;
}

.follow-us-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

/*Banner section style*/
.banner {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}

.banner-container {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.banner-content h2 {
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5px;

}

.banner-content h1 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

.banner-content p {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 15px;
    margin-left: 10px;
}

.button-primary {
    margin-top: 30px;
    padding: 19px 40px;
    font-size: 1.1rem;
    gap: 10px;
    color: #fff;
    border-radius: 48px;
    background-color: #FF42A5;
    border: 0;
}

.button-secondary {
    margin-top: 30px;
    padding: 19px 40px;
    font-size: 1.1rem;
    gap: 10px;
    color: #fff;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: 0;
}

/*Funny videos section style*/
.funny-videos-section {
    max-width: 1240px;
    margin: 0 auto;
}

.funny-videos-section-content {
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.section-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8rem;
    font-weight: 700;
}

.section-descriptions {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
}

.section-images {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.section-images>img {
    gap: 10px;
    width: 310px;
    height: 400px;
    border-radius: 16px;
}

.images-description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 310px;
}
/*Footer section style*/
footer{
    background-color: #0B0223;
    min-height: 200px;
}

.footer-content {
    width:100%;
    align-items: center;
    text-align: center;
    padding: 100px 0px;
}

#footer-logo {
    font-display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo-title {
    color: #fff;
}

.footer-menubar {
    margin-top: 30px;
}

.footer-menubar a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 60px;
}

.footer-text {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
}