@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*Nav bar style*/
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px 0px;

}

.logo-item {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo-image {
    width: 60px;
    margin-right: 10px;
}

.logo-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.logo-title-text {
    color: #ff42a5;
}

.menu-item {
    display: flex;
    align-items: center;
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 32px;
}

.follow-us-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

.fa-brands {
    font-size: 20px;
    margin-left: 10px;
}

.youtube {
    color: red;
}

/*Banner section style*/
.banner {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}

.banner-container {
    margin-bottom: 100px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.banner-content{
    width:100%;
    align-items: center;
    padding:100px 0px;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5px;

}

.banner-content h1 {
    
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px 0px 5px 0px;

}

.banner-content p {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 15px;
    margin-left: 10px;
}
.banner-icon{
    font-size: 20px;
    margin-right: 10px;
    align-items: center;
}

.button-primary {
    margin-top: 30px;
    padding: 19px 40px;
    font-size: 1.1rem;
    gap: 10px;
    color: #fff;
    border-radius: 48px;
    background-color: #FF42A5;
    border: 0;
}

.button-secondary {
    margin-top: 30px;
    padding: 19px 40px;
    font-size: 1.1rem;
    gap: 10px;
    color: #fff;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: 0;
}
.banner-images {
    width:800px;
}
.banner-images img{
    width:100%;
}

/*Funny videos section style*/
.funny-videos-section {
    max-width: 1240px;
    margin: 0 auto;
}

.funny-videos-section-content {
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.section-images{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.image-overlay {
    position: relative;
    display: inline-block;
}

.card-image {
    display: block;
    width: 300px;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    color: #FF42A5;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
}

.play-icon {
    color: #fff;
    font-size: 48px;
}

.image-overlay:hover .overlay {
    opacity: 1;
    border-radius: 16px;
    border: 3px solid #F948B2;
}

.section-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8rem;
    font-weight: 700;
}

.section-descriptions {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
}

.section-images {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.section-images>img {
    gap: 10px;
    width: 310px;
    height: 400px;
    border-radius: 16px;
}

.images-description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 310px;
}

/*Play Games section*/
.play-games-section {
    max-width: 1240px;
    margin: 100px auto 200px;
}

.play-games-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.images {
    position: relative;
    width: 600px;

}

.big-image {
    display: block;
    width: 100%;
    height: auto;
}

.small-image {
    position: absolute;
    top: 300px;
    bottom: 0;
    right: 0;
    left: 450px;
    height: auto;
}

.play-games-section-content{
    margin-left: 200px;
}

.play-games-section-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.play-games-online-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-section-description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

/*Games button section style*/

.games-button-area {
    margin: 80px auto 0px;
    background-color: #fff9fc;
    min-height: 400px;

}

.games-buttons {
    max-width: 1440px;
    padding: 100px 0px 0px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;


}

.games-btn {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50px;

}

.button-images {
    width: 40px;
    height: 40px;
    border-radius: 50px;

}

.games-button-content {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
}

.games-btn:hover {
    border: 1px solid #F948B2;
    border-radius: 50px;
    padding: 10px 0px;
    color: #F948B2;
}

.games-button-content:hover {
    color: #F948B2;

}

/*Footer section style*/
footer {
    background-color: #0B0223;
    min-height: 200px;
}

.footer-content {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 100px 0px;
}

#footer-logo {
    font-display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo-title {
    color: #fff;
}

.footer-menubar {
    margin-top: 30px;
    max-width: 850px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.footer-menubar a {
    width: 100%;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.icone-bar {
    max-width: 700px;
    margin: 30px auto;
}

.facebook {
    color: #1a77f2;
    margin-left: 20px;

}

.Youtube {
    color: red;
    margin-left: 20px;
}

.twitter {
    margin-left: 20px;
    color: #fff;

}

.footer-menubar-two {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-menubar-two a {
    width: 100%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

.footer-text {
    max-width: 500px;
    margin: 30px auto;
}

.footer-text p {
    width: 100%;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}